grant codeBase "file:C:/Users/Javier/Documents/Proyectos/Ejemplos/bin/seguridad/"{
permission java.io.FilePermission "C:\\Users\\Javier\\Documents\\Proyectos\\Ejemplos\\*", "write";
};